################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cards
/SolidAir/x64/Debug
/x64/Debug
/SolidAir/x64/Release
/x64/Release
/SolidAir/SolidAir.aps
/SolidAir/solidair.ligma
/SolidAir/SDL3_mixer
/SolidAir/SDL3
