################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/SolidAir/x64/Debug
/x64/Debug
/SolidAir/x64/Release
/x64/Release
/SolidAir/SolidAir.aps
/SolidAir/solidair.ligma
/SolidAir/SDL3_mixer
/SolidAir/SDL3
**.lib
**.dll
/RELEASE
*.msi
/enc_temp_folder
